# Core functionality - changes here should be rare!
/src/app.py                   @FaizalOA
/src/backend/database.py      @FaizalOA
/src/backend/routers/auth.py  @FaizalOA

# The frontend will need refactored soon to be more object oriented.
/src/static/   @FaizalOA
